.image-list {
  width: 1000px;
  margin: auto;
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 10px;
}

.image-list img {
  padding: 5px;
  width: 250px;
}
